/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  /* background: #F0F4FF; */

  /* DEBUG */
  background: pink;
}

#page {
  display: flex;
  flex-direction: row;

  /* DEBUG */
  background: yellow;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 240px;

  /* DEBUG */
  background: orange;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  width: 240px;
  height: 100vh;
  /* overflow-x: hidden; */
  background: #161a2d;
  padding: 25px 20px;
  /* transition: width 0.4s ease; */

  /* DEBUG */
  /* background: red; */
  /* display: none; */
  /* width: 85px; */
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  display: flex;

  /* DEBUG */
  border: 3px solid black;
  margin: 3px;
  border-color: grey;
  background: green;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;

  /* DEBUG */
  background: blue;
  border: 3px solid black;
  margin: 3px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.jira-logo {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
} 

.jira-logo svg {
  position: absolute;
  width: 42%;
  height: 42%;
}

#svg-jira-logo-upper-element {
  right: 9%;
  top: 9%;
}

#svg-jira-logo-middle-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svg-jira-logo-bottom-element {
  bottom: 9%;
  left: 9%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  /* position: relative; */
}

.sidebar-links h4 span {
  opacity: 1;
}

/* .sidebar:hover .sidebar-links h4 span {
  opacity: 1;
} */

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  /* transform: scaleX(1);
  transform: translateY(-50%); */
  /* background: #4f52ba; */
  /* transform-origin: right;
  transition-delay: 0.2s; */
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  /* transition: 0.2s ease; */
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
  color: #fff;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.user-account:hover {
  background: #fff;
  border-radius: 4px;
}

.user-account:hover .user-detail h3,
.user-account:hover .user-detail span {
    color: #161a2d;
}


.list-of-projects-container {
  display: flex;
  /* display: none; */
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 240px;
  top: 90px;
  max-height: calc(100vh - 90px);


  opacity: 0;
  transition: opacity 0.18s ease-in-out;
  pointer-events: none;
  

  /* DEBUG */
  background-color: red;
}


.list-of-projects-container.visible {
  opacity: 1;
  z-index: 2;
  pointer-events: auto; /* Восстанавливает взаимодействие с элементом */
}


.list-of-projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  
  /* DEBUG */
  background-color: orange;
}

.list-of-projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow-y: auto;
  
  /* DEBUG */
  background-color: purple;
}

.add-new-project-container {
  display: flex;
  width: 100%;
  justify-content: center;

  /* DEBUG */
  background: pink;
  border-radius: 14px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
  height: 50px;

  /* DEBUG */
  background-color: green;
  border-radius: 14px;
}


.project.current {
  font-weight: bold;
}





.sprint {
  display: flex;
  flex-direction: column;
  background-color: #4f52ba;
  border-radius: 5px;
  margin: 20px;

  /* DEBUG */
}

.sprint-header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  flex-direction: column;
  padding: 20px;

  /* DEBUG */
  background-color: pink;
  border-radius: 3px;
}

.sprint-main-info {
  display: flex;

  /* DEBUG */
  background-color: red;
  border-radius: 15px;
}




.sprint-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  /* DEBUG */
  background-color: rgb(11, 203, 217);
  border-radius: 15px;
}

.hide-sprint-main-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: #c7a021;
  cursor: pointer;
}

.hide-sprint-main-info-button svg {
  width: 20px;
  height: 20px;

}

.sprint-name {
  display: flex;
  font-weight: bold;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #42c721;
}

.sprint-issues-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #c72121;
}

.sprint-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #8291d7;

}


.sptint-container-with-tasks-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;

  /* DEBUG */
  background-color: rgb(48, 203, 25);
  width: 150px;

}

.not-started-tasks {
  display: flex;
  background-color: grey;
  border-radius: 5px;
  justify-content: center;

  /* DEBUG */
  width: 30px;
}

.in-progress-tasks {
  display: flex;
  background-color: rgb(8, 12, 226);
  border-radius: 5px;
  justify-content: center;

  /* DEBUG */
  width: 30px;
}

.done-tasks {
  display: flex;
  background-color: green;
  border-radius: 5px;
  justify-content: center;

  /* DEBUG */
  width: 30px;
}

.sprint-participants {
  display: flex;

  /* DEBUG */
  background-color: yellow;
  border-radius: 15px;
}

.sprint-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;

  overflow: hidden;
  /* transform-origin: top; */
  /* max-height: 2000px; 
  transition: max-height 2s ease-in-out; */
  transition: height 0.4s ease-in-out;

  /* DEBUG */
  background-color: rgb(81, 203, 181);
  border-radius: 15px;
}

/* .rotated {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
} */











/* ---------------------------------------------- */



/* .projects-submenu-container-invisible {
  display: flex;
  width: 600px;
  border-radius: 5px;
  background-color: red;
  visibility: hidden;
} */

/* .projects-submenu-container-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #4f52ba;
  margin-top: 125px;
  visibility: visible;
}

.project {
  width: 30%;
  background-color: green;
  visibility: visible;
}


/* ------------------------ PREVIOUS sidebar ------------------*/
/* .sidebar:hover {
  width: 260px;
} */

/* .sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}*/
