/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  /* background: #F0F4FF; */

  /* DEBUG */
  background: pink;
}

#page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  /* DEBUG */
  background: yellow;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 230px;

  /* DEBUG */
  background: orange;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  width: 230px;
  height: 100vh;
  /* overflow-x: hidden; */
  background: #161a2d;
  padding: 25px 20px;
  /* transition: width 0.4s ease; */

  /* DEBUG */
  /* background: red; */
  /* display: none; */
  /* width: 85px; */
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.main-header {
  display: flex;

  /* DEBUG */
  border: 3px solid black;
  margin: 3px;
  border-color: grey;
  background: green;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;

  /* DEBUG */
  /* background: rgb(239, 242, 255); */
  /* background: white; */
  /* background: red; */
  /* background-color: #ebf0f7; */
  background-color: white;
  border: 3px solid black;
  margin: 3px;
  padding: 0px 20px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.jira-logo {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
} 

.jira-logo svg {
  position: absolute;
  width: 42%;
  height: 42%;
}

#svg-jira-logo-upper-element {
  right: 9%;
  top: 9%;
}

#svg-jira-logo-middle-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svg-jira-logo-bottom-element {
  bottom: 9%;
  left: 9%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  /* position: relative; */
}

.sidebar-links h4 span {
  opacity: 1;
}

/* .sidebar:hover .sidebar-links h4 span {
  opacity: 1;
} */

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  /* transform: scaleX(1);
  transform: translateY(-50%); */
  /* background: #4f52ba; */
  /* transform-origin: right;
  transition-delay: 0.2s; */
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  /* transition: 0.2s ease; */
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
  color: #fff;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.user-account:hover {
  background: #fff;
  border-radius: 4px;
}

.user-account:hover .user-detail h3,
.user-account:hover .user-detail span {
    color: #161a2d;
}


.list-of-projects-container {
  display: flex;
  /* display: none; */
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 240px;
  top: 90px;
  max-height: calc(100vh - 90px);


  opacity: 0;
  transition: opacity 0.18s ease-in-out;
  pointer-events: none;
  

  /* DEBUG */
  background-color: red;
}


.list-of-projects-container.visible {
  opacity: 1;
  z-index: 2;
  pointer-events: auto; /* Восстанавливает взаимодействие с элементом */
}


.list-of-projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  
  /* DEBUG */
  background-color: orange;
}

.list-of-projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow-y: auto;
  
  /* DEBUG */
  background-color: purple;
}

.add-new-project-container {
  display: flex;
  width: 100%;
  justify-content: center;

  /* DEBUG */
  background: pink;
  border-radius: 14px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
  height: 50px;

  /* DEBUG */
  background-color: green;
  border-radius: 14px;
}


.project.current {
  font-weight: bold;
}





.sprint {
  display: flex;
  flex-direction: column;

  /* top: 0px; */
  position: sticky;

  border-radius: 5px;
  margin-top: 20px;
  /* margin: 0px 0px 0px 0px; */
  padding: 20px 35px 0px 35px;

  /* DEBUG */
  /* background-color: #4f52ba; */
  background-color: #ebf0f7;
  /* background: #a734ba; */
}

.sprint-header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  flex-direction: column;
  /* padding-top: 6px;
  padding-bottom: 9px; */
  padding: 6px 30px 6px 0px;
  /* margin: 3px; */
  /* margin-bottom: 5px; */

  /* DEBUG */
  background-color: #ebf0f7;
  /* border-radius: 8px; */
}

.sprint-main-info {
  display: flex;

  /* DEBUG */
  /* background-color: red; */
  border-radius: 15px;
}




.sprint-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  /* DEBUG */
  /* background-color: rgb(11, 203, 217); */
  border-radius: 15px;
}

.hide-sprint-main-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: rgb(226, 228, 232);
  cursor: pointer;
  /* margin: 0 10px; */
}

.hide-sprint-main-info-button:hover {
  background-color: rgb(214, 217, 223);
}


.hide-sprint-main-info-button svg {
  width: 20px;
  height: 20px;
}

.sprint-name {
  display: flex;
  font-weight: bold;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* background-color: #42c721; */
  margin: 0 10px;
}

.sprint-dates {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* background-color: #c72121; */
  margin: 0 10px;
}

.sprint-issues-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* background-color: #c72121; */
  margin: 0 10px;
}

.sprint-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #8291d7;
  color: white;
  font-weight: 500;
  padding: 0px 10px;
  margin: 0 10px;
}


.sprint-container-with-tasks-status-or-manage-sprint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;

  /* DEBUG */
  /* background-color: rgb(48, 203, 25); */
  width: 120px;

}

.not-started-tasks {
  display: flex;

  background-color: #f2dcf5;
  color: #a734ba;
  border-radius: 10px;
  justify-content: center;

  /* DEBUG */
  width: 30px;
}

.in-progress-tasks {
  display: flex;
  background-color: rgb(204, 232, 252);
  color: #2d86ba;
  border-radius: 10px;
  justify-content: center;

  /* DEBUG */
  width: 30px;
}

.done-tasks {
  display: flex;
  color: #13854e;
  background-color: #d6ede2;
  border-radius: 10px;
  justify-content: center;

  /* DEBUG */
  width: 30px;
}

.sprint-participants {
  display: flex;
  /* margin: 4px; */
  /* margin: 4px 0; */
  margin-top: 8px;
  margin-bottom: 4px;
  padding-left: 30px;

  /* DEBUG */
  /* background-color: yellow; */
  /* border-radius: 15px; */
}

.sprint-participants img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 6px;
}

.sprint-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;

  overflow: hidden;
  transition: height 0.4s ease-in-out;

  /* DEBUG */
  /* background-color: rgb(81, 203, 181); */
  border-radius: 15px;
}




/* TASKS */
.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0px;

  /* DEBUG */
  /* background-color: blueviolet */
}

.task {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3px;
  padding: 15px 30px;
  border-radius: 8px;
  /* box-shadow: 0px 4px 16px 0px rgba(99, 99, 99, 0.1); */
  background-color: white;
}

.task:hover {
  background-color: rgb(235, 236, 240);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  font-weight: 500;

  /* DEBUG */
  /* background-color: rgb(242, 225, 128); */
}

.task-priority {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-image: url('images/priority-high.png'); /* Замените на путь к вашей иконке */
  background-size: cover; /* Это убедится, что иконка подходит по размеру контейнера */
  background-repeat: no-repeat; /* Это предотвратит повторение иконки, если она меньше, чем контейнер */
  /* margin: 0px 10px 0px 10px; */
}

.task-summary {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0 40px;

  /* DEBUG */
  /* background-color: rgb(47, 123, 124); */
}

.task-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  /* margin: 3px 5%; */
  padding: 4px 15px;
  border-radius: 10px;

  /* DEBUG */
  /* FOR IN PROGRESS*/
  background-color: rgb(204, 232, 252);
  color: #2d86ba;

  /* FOR DONE */
  /* color: #13854e;
  background-color: #d6ede2; */

  /* FOR NOT STARTED */
  background-color: #f2dcf5;
  color: #a734ba;
}

.task-details {
  display: flex;
  flex-direction: row;
  margin: 5px 0;

  /* DEBUG */
  /* background-color: rgb(242, 128, 128); */
}

.task-details svg {
  width: 20px;
  height: 20px;
}

.task-due-date {
  display: flex;
  align-items: center;
  width: 13%;
  border-radius: 5px;
  font-weight: 450;
  /* margin: 3px 5px; */

  /* DEBUG */
  /* background-color: rgb(47, 123, 124); */
}

.comments-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin: 0px 6px 0px 40px;

  /* DEBUG */
  /* background-color: rgb(47, 123, 124); */
}



.comments-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* margin: 0 10px; */

  /* DEBUG */
  /* background-color: rgb(47, 123, 124); */
}

.task-files-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px 6px 0px 25px;

  /* DEBUG */
  /* background-color: rgb(47, 123, 124); */
}

.files-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* margin: 0 10px; */

  /* DEBUG */
  /* background-color: rgb(47, 123, 124); */
}

.avatar-and-estimation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;

  /* DEBUG */
  /* background-color: rgb(73, 124, 47); */
}

.task-assignee-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url('images/man.jpg'); /* Замените на путь к вашей иконке */
  background-size: cover; /* Это убедится, что иконка подходит по размеру контейнера */
  background-repeat: no-repeat; /* Это предотвратит повторение иконки, если она меньше, чем контейнер */
  /* margin: 0px 10px 0px 10px; */

  /* DEBUG */
  background-color: rgb(168, 60, 27);
}

.task-estimation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  margin: 1px 0px 1px 25px;

  /* DEBUG */
  background-color: rgb(223, 226, 230);
}










.create-issue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 35px;
  border-radius: 8px;

  /* DEBUG */
  /* background-color: rgb(204, 219, 104); */
}

.create-issue-container:hover {
  background-color: rgb(214, 217, 223);
}

.create-issue-container svg {
  width: 16px;
  height: 16px;
  margin: 0px 10px 0px 0px;
}


.sprint-estimation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  padding: 0px 30px 12px 0px;

  /* DEBUG */
  /* background-color: #c72121; */
}

.sprint-estimation-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  margin: 0px 0px 0px 25px;

  /* DEBUG */
  background-color: rgb(214, 217, 223)
}




.create-dialogue-section {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 30%;
  right: 30%;
  top: 100px;

  box-shadow: 
    0px 8px 16px -4px blue, 
    0px 0px 1px green;
  z-index: 4;

  /* DEBUG */
  background-color: rgb(203, 11, 11);
  /* display: flex; */
}

.create-dialogue-header {
  display: flex;
  align-items: center;


  /* DEBUG */
  background-color: rgb(174, 203, 11);
}

.create-dialogue-content {
  display: flex;
  flex-direction: column;

  /* DEBUG */
  background-color: rgb(11, 203, 11);
}

.create-dialogue-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* DEBUG */
  background-color: rgb(11, 11, 203);
}
