/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

#page {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 230px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  width: 230px;
  height: 100vh;
  background: #161a2d;
  padding: 25px 20px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  stroke: black;
}

.sidebar-icon path {
  stroke: #fff;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.sidebar-links li a:hover .sidebar-icon {
  stroke: #fff;
}
.sidebar-links li a:hover .sidebar-icon path {
  stroke: #000;
}

#backlog {
  margin-bottom: 20px;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
  border-bottom: 3px solid rgb(160, 160, 160);
}

.project-name {
  font-size: 1.25rem;
  margin: 5px 0px 10px 0px;
}

.representation-type {
  font-size: 1.50rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  padding: 0px 20px;
}

.task.dragging {
  opacity: 0.5;
}

.jira-logo {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
} 

.jira-logo svg {
  position: absolute;
  width: 42%;
  height: 42%;
}

#svg-jira-logo-upper-element {
  right: 9%;
  top: 9%;
}

#svg-jira-logo-middle-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svg-jira-logo-bottom-element {
  bottom: 9%;
  left: 9%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
}

.sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
}

.user-profile img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #161a2d;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
  color: #161a2d;
}

.user-detail {
  margin-left: 15px;
  white-space: normal;
}

.list-of-projects-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 240px;
  top: 90px;
  max-height: calc(100vh - 90px);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.18s ease-in-out;
  pointer-events: none;
  background-color: rgb(200, 200, 200);
}

.list-of-projects-container.visible {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
}

.list-of-projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

.list-of-projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow-y: auto;
}

.add-new-project-container {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 2px solid rgb(160, 160, 160);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
  height: 50px;
  border-radius: 14px;
}

.project.current {
  font-weight: bold;
}


/* SPRINT */

.sprint {
  display: flex;
  flex-direction: column;
  position: sticky;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0px 35px 0px 35px;
  background-color: #ebf0f7;
}

.sprint-header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  flex-direction: column;
  padding: 26px 30px 6px 0px;
  background-color: #ebf0f7;
}

.sprint-main-info {
  display: flex;
  border-radius: 15px;
}

.sprint-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  border-radius: 15px;
}

#backlog-sprint-data {
  height: 30px;
}

.hide-sprint-main-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 20%;
  background-color: rgb(214, 217, 223);
  cursor: pointer;
}

.hide-sprint-main-info-button:hover {
  background-color: rgb(180, 180, 180);
}

.hide-sprint-main-info-button svg {
  width: 20px;
  height: 20px;
}

.sprint-name {
  display: flex;
  font-weight: bold;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 10px;
}

.sprint-dates {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 10px;
}

.sprint-issues-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 10px;
}

.sprint-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #8291d7;
  color: white;
  font-weight: 500;
  padding: 0px 10px;
  margin: 0 10px;
}

.sprint-container-with-tasks-status-or-manage-sprint {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  width: 120px;
}

#sprint-container-with-tasks-status {
  justify-content: space-between;
}

#sprint-container-with-manage-sprint-button, #create-sprint-container {
  justify-content: center;
  cursor: pointer;
  background-color: rgb(214, 217, 223)
}

#sprint-container-with-manage-sprint-button:hover, #create-sprint-container:hover {
  background-color: rgb(180, 180, 180);
}

.manage-sprint-button {
  display: flex;
}

.not-started-tasks {
  display: flex;
  background-color: #f2dcf5;
  color: #a734ba;
  border-radius: 10px;
  justify-content: center;
  width: 30px;
}

.in-progress-tasks {
  display: flex;
  background-color: rgb(204, 232, 252);
  color: #2d86ba;
  border-radius: 10px;
  justify-content: center;
  width: 30px;
}

.done-tasks {
  display: flex;
  color: #13854e;
  background-color: #d6ede2;
  border-radius: 10px;
  justify-content: center;
  width: 30px;
}

.sprint-participants {
  display: flex;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-left: 30px;
}

.sprint-participants img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 6px;
}

.sprint-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
  border-radius: 15px;
}


/* TASK */

.task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}

.task {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3px;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: move;
  background-color: white;
}

.task:hover {
  background-color: rgb(235, 236, 240);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  font-weight: 500;
}

.task-priority {
  display: flex;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
}

#major-task-priority {
  background-image: url('images/priority-major.png');
}

#minor-task-priority {
  background-image: url('images/priority-minor.png');
}

.task-summary {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0 40px;
}

.task-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 4px 15px;
  border-radius: 10px;
}

#task-status-not-started {
  background-color: #f2dcf5;
  color: #a734ba;
}

#task-status-in-progress {
  background-color: rgb(204, 232, 252);
  color: #2d86ba;
}

#task-status-done {
  color: #13854e;
  background-color: #d6ede2;
}

.task-details {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.task-due-date {
  display: flex;
  align-items: center;
  width: 13%;
  border-radius: 5px;
  font-weight: 450;
}

.task-details svg {
  width: 20px;
  height: 20px;
}

.comments-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin: 0px 6px 0px 40px;
}

.comments-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #c3cad3
}

.task-files-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px 6px 0px 25px;
}

.files-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #c3cad3
}

.avatar-and-estimation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.task-assignee-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.task-estimation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  margin: 1px 0px 1px 25px;
  background-color: rgb(223, 226, 230);
}

.create-issue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}

#create-issue-container-for-backlog {
  margin: 0px 0px 20px 0px;
}

.create-issue-container:hover {
  background-color: rgb(214, 217, 223);
  background-color: rgb(200, 200, 200);
}

.create-issue-container svg {
  width: 16px;
  height: 16px;
  margin: 0px 10px 0px 0px;
}


.sprint-estimation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  padding: 0px 30px 12px 0px;
}

.sprint-estimation-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  margin: 0px 0px 0px 25px;
  background-color: rgb(214, 217, 223)
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}

.create-dialogue-section {
  flex-direction: column;
  position: fixed;
  box-sizing: border-box;
  top: 47%;
  left: 50%;
  width: 650px;
  min-height: 200px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: none;
}

.create-dialogue-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 20px 0px;
  font-weight: 500;
}

.create-dialogue-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 20px 40px;
  border-top: 2.5px solid rgb(236, 240, 246);
  border-bottom: 2.5px solid rgb(236, 240, 246);
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
}

.create-dialogue-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 40px 0px 400px;
}

.create-dialogue-footer button {
  padding: 7px 20px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-dialogue-footer .create-dialogue-cancel-button {
  background-color: #6c757d;
}

.create-dialogue-footer .create-dialogue-cancel-button:hover {
  background-color: #5a6268;
}

.create-dialogue-footer .create-dialogue-create-button {
  background-color: #007BFF;
}

.create-dialogue-footer .create-dialogue-create-button:hover {
  background-color: #0056b3;
}
